.wrapper{
    display: flex;
    justify-content: center;
}
.infor{
    width: 15%;
    background-color: #003333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //text-align: center;
}
.img{
    width:50px;
    height: 50px;
    object-fit: cover;
    img{
        border-radius: 50%;
        width: 100%;
    }
}
.detail{
    p{
        padding: 3px 0 3px 0;
        color: gainsboro;
        font-weight: 100;
        //font-size: 1.5rem;
    }
    h3{
        text-align: center;
        margin: 5px 0 5px 0;
    }
}
.name{
    margin-bottom: 10px;
    text-align: center;
    h2{
        //font-size: 2.rem;
        padding: 1.2rem 0 0 1.2rem;
        font-weight: 200;
    }
    p{
        font-size: 0.9rem;
        color: gainsboro;
        margin-top:5px ;
    }
}
.about{
    width: 35%;
    padding: 2rem;
    background-color: rgb(251, 251, 249);
}
.employment{
    h3 {
        font-size: 1.6rem;
        font-weight: 700;
    }
    span{
        font-weight: 100;
        font-size: 1rem;
        color: #a1a1a1;
    }
}
