.a{
    width: 100%;
    height: auto;
    margin: 3rem auto;
    //border: 1px solid #333;
    padding: 0 4rem 1rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    border-bottom: 2px solid #333;
}
.about_head{
    
    h1{
        color: black;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 3.5rem;
    }
}
.avt_head{
    
    margin: 5px;
    width: 150px;
    height:150px;
    //border: 1px dashed #bebcbc ;
    border-radius: 50%;
    //object-fit: cover;
    img{
        // vertical-align: middle;
        object-fit: cover;
        width: 150px;
        height:150px;
        //width: 100%;
        border-radius: 50%;
    }
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    h3{
        text-transform: uppercase;
    padding: 1rem 0 1rem 0;
    }
}
.about_container{
    width: 30%;
    padding-right: 4rem;
    border-right:2px solid #333 ;
}
.about{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    span{
        padding: 3px 0 3px 0;
    }
    border-bottom: 2px solid black;
}
.icon_about{
    i {
       // margin-right: 5px;
        min-width: 3rem;
    }
}
.title_style{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    //border-bottom:1px solid #333 ;
    i {
        line-height: 1.5;
        margin-right: 10px;
    }
}
.education,.skill{
    padding: 2rem 0 2rem 0;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    h4{
        font-size: 1.8rem;
        padding: 5px 0 5px 0;
    }
    span{
        font-weight: 200;
    }
}
.main_container{
    width: 65%;
}
.achievement,.experience{
    text-transform: capitalize;
}
.exp{
    margin: 1rem 0 2rem 0;
    h4{
        padding: 0rem 0 1rem 0;
    }
}