section{
    width: 80%;
    height: auto;
    margin: 5rem auto 0;
    p{
        padding: 10px;
        background-color: #333;
        //background-color: ;
        color: #fff;
    }
}
// .plus{
//     padding: 10px;
//     background-color: rgb(141, 238, 238);
// }
// .fa-plus{
//     padding: 10px;
//          background-color: rgb(141, 238, 238);
// }
.sec{
    margin: 3rem auto ;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem 10rem;
    border:0.1px solid #d0cece;
}
// .pdf{
//     margin: 3rem auto ;
//     display: flex;
//     width: 100%;
//     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
// }
// .yourself{
//     width: 30%;
//     height: auto;
//     background-color: #003333;
//     padding: 2rem 3.5rem;
//     color: #fff;
// }
// .wrapYS{
//     width: 100%;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
// }
// .aboutMe{
//     width: 70%;
//     height: auto;
//     padding: 2rem 3.5rem;
//     background-color: #fff;
//     color: black;
// }
// .avt{
//     margin: 5px;
//     width: 150px;
//     height:150px;
//     //border: 1px dashed #bebcbc ;
//     border-radius: 50%;
//     //object-fit: cover;
    
//     img{
//         vertical-align: middle;
//         width: 150px;
//         height:150px;
//         //width: 100%;
//         border-radius: 50%;
//     }
// }
// .aboutMe h3{
//     //background-color: #efeeee;
//     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
//     margin: 1rem 0 1rem 0;
//     border-radius: 10px;
//     padding-left: 5px;
//     text-transform: uppercase
//     //margin-right: 10px;
// }
// .styleTitle{
//     background-color: #efeeee;
//     border-radius: 10px;
//     padding-left: 5px;
//     text-transform: capitalize
// }
.btnSubmit{
        min-width: 5rem;
        padding: 10px;
        background-color: #00B2EE;
        border: none;
        color: #fff;
        font-weight: 500;
        border-radius: 3px;
        margin-bottom: 2rem;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        //position: relative;
}
.templateLayout{
    position: absolute;
    padding: 5px;
    bottom: 7rem;
    right  : 7rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d0cece;
    img {
        width: 100px;
        //height: 50%;
    }
}