footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
    height: 7vh;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    // left: 0;
    span{
        color: rgb(89, 86, 86);
        text-align: center;
    }
}